*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: rgb(29, 6, 6);
}

.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("Amazon-logo.png");
    background-size:cover;
    height: 50px;
    width: 130%;
    

}